[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/ImGradientHDR"]
	path = thirdparty/ImGradientHDR
	url = https://github.com/effekseer/ImGradientHDR.git
[submodule "thirparty/libtinyfiledialogs"]
	path = thirparty/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
[submodule "thirdparty/libtinyfiledialogs"]
	path = thirdparty/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs.git
